.container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 96px;
    position: relative;

    & .mainContainer {
        & .mainContent {
            background-image: url('/public/images/mainBackground.png');
            background-size: cover;

            & .mainHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 56px 48px;

                & .menuBurguer {
                    all: unset;
                    display: none;
                }

                & .menuNav {
                    & .menuNavList {
                        display: flex;
                        gap: 24px;

                        & .menuNavItem {
                            all: unset;

                            & .menuNavItemButton {
                                all: unset;
                                color: var(--white);
                                font-size: 20px;
                                transition: all 200ms ease-in;
                                cursor: pointer;

                                &:hover {
                                    color: var(--yellow);
                                }
                            }
                        }
                    }
                }

                & .headerButtons {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    & .headerButton {
                        all: unset;
                        color: var(--white);
                        cursor: pointer;
                        transition: all 200ms ease-in;
                    }

                    & .headerButton:nth-child(1) {
                        &:hover {
                            color: var(--yellow);
                        }
                    }

                    & .headerButton:nth-child(2) {
                        padding: 16px 32px;
                        border-radius: 8px;
                        background-color: var(--blue);
                    }
                }
            }

            & .mainBody {
                display: flex;
                padding-left: 48px;
                position: relative;
                gap: 48px;
                padding: 24px 0 24px 48px;

                & .mainCard {
                    background-color: rgba(0, 0, 0, 20%);
                    width: 350px;
                    max-width: 350px;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    align-items: center;
                    padding: 16px 16px 32px 16px;
                    border-radius: 50px;

                    & .mainCardImage {
                        width: 100%;
                        height: 318px;
                        background-color: var(--blue);
                        background-image: url('/public/images/mainCardBackgroundPresentation.png');
                        border-radius: 50px;
                    }

                    & .mainCardDescription {
                        color: var(--white);
                        font-size: 18px;
                    }

                    & .mainCardButton {
                        all: unset;
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                        color: var(--white);
                        background-color: var(--blue);
                        border-radius: 8px;
                        padding: 16px 0;
                    }
                }

                & .mainDescription {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    & .mainDescriptionImg {
                        width: 450px;
                    }

                    & .mainDescriptionText {
                        font-family: 'fredoka', sans-serif;
                        font-size: 32px;
                        color: var(--yellow);
                        max-width: 350px;
                    }

                    & .mainButtons {
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        gap: 16px;

                        & .mainButton {
                            all: unset;
                            color: var(--white);
                            background-color: var(--yellow);
                            width: 350px;
                            text-align: center;
                            padding: 16px 0;
                            border-radius: 8px;
                        }

                        & .mainButtonSpan {
                            color: var(--white);
                        }
                    }
                }

                & .scrollAlert {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    position: absolute;
                    bottom: 24px;
                    left: 50%;

                    & .scrollIcon {
                        max-width: 32px;
                    }

                    & .scrollText {
                        color: var(--gray);
                    }
                }
            }

            & .sideMenu {
                align-items: center;
                background-color: var(--background);
                display: flex;
                flex-direction: column;
                gap: 48px;
                height: 100%;
                padding: 32px 0;
                position: absolute;
                top: 0;
                width: 300px;
                z-index: 999;

                & .sideMenuHeader {
                    display: flex;
                    width: 250px;
                    justify-content: space-between;
                    align-items: center;

                    & .sideMenuImg {
                        width: 150px;
                    }

                    & .buttonCloseSideMenu {
                        all: unset;
                        width: 32px;
                        background-image: url('/public/icons/closeIcon.svg');
                        background-size: cover;
                        height: 32px;
                        cursor: pointer;
                    }
                }

                & .sideMenuNav {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    gap: 32px;

                    & .sideMenuNavList {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        border-bottom: 2px solid var(--white);
                        padding-bottom: 16px;

                        & .sideMenuNavItem {
                            all: unset;
                            color: var(--white);
                            font-family: 'Fredoka', sans-serif;
                            display: flex;
                            gap: 24px;
                        }
                    }
                }

                & .sideMenuLinks {
                    display: flex;
                    gap: 16px;

                    & .link {
                        all: unset;

                        & .linkButton {
                            all: unset;
                        }
                    }
                }
            }
        }
    }

    & .pageContent {
        background: linear-gradient(180deg, var(--background) 0%, var(--blue) 100%);
        display: flex;
        flex-direction: column;
        gap: 96px;

        & .cardsSection {
            display: flex;
            flex-direction: column;
            gap: 48px;
            align-items: center;

            & .cardsTitle {
                font-family: 'Fredoka', sans-serif;
                color: var(--yellow);
                font-size: 32px;
            }

            & .cardsList {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 650px;
                gap: 24px;
                justify-content: center;

                & .cardItem {
                    all: unset;
                    align-items: center;
                    background-color: var(--blue);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 18px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    min-height: 400px;
                    min-width: 300px;
                    padding-top: 24px;

                    & .cardImage {
                        width: 200px;
                        height: 200px;
                    }

                    & .cardTexts {
                        display: flex;
                        gap: 8px;
                        flex-direction: column;
                        width: 250px;
                        align-items: center;
                        text-align: center;

                        & .cardsListItemTitle {
                            color: var(--yellow);
                        }

                        & .cardsListItemDescription {
                            color: var(--white);
                        }
                    }

                }
            }

            & .cardItem:nth-of-type(1) {
                & .cardImage {
                    background-image: url('/public/images/howPlayCard1.png');
                }
            }

            & .cardItem:nth-of-type(2) {
                & .cardImage {
                    background-image: url('/public/images/howPlayCard2.png');
                }
            }

            & .cardItem:nth-of-type(3) {
                & .cardImage {
                    background-image: url('/public/images/howPlayCard3.png');
                }
            }

            & .cardItem:nth-of-type(4) {
                & .cardImage {
                    background-image: url('/public/images/howPlayCard4.png');
                }
            }
        }

        & .rulesSection {
            display: flex;
            flex-direction: column;
            gap: 48px;
            align-items: center;
            padding: 0 48px;

            & .rulesTittle {
                font-family: 'Fredoka', sans-serif;
                color: var(--yellow);
                font-size: 32px;
                text-align: center;
                max-width: 500px;
            }

            & .rulesTexts {
                display: flex;
                flex-direction: column;
                gap: 24px;
                max-width: 1200px;

                & .rulesSubTittle {
                    color: var(--yellow);
                    font-size: 32px;
                }

                & .rulesDescription {
                    color: var(--white);
                    font-size: 18px;
                }

                & .rulesDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                & .abautTrunferDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }

            & .rulesButton {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                cursor: pointer;

                & .button {
                    all: unset;
                    width: 32px;
                    height: 32px;
                    background-image: url('/public/icons/upIcon.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                & .rulesButtonSpan {
                    color: var(--white);
                }
            }
        }
    }
}


@media screen and (width > 440px) and (width <=1024px) {
    .container {
        gap: 48px;

        & .mainContainer {
            height: auto;

            & .mainContent {
                padding-bottom: 96px;

                & .mainHeader {
                    padding: 48px;

                    & .menuBurguer {
                        display: block;
                    }

                    & .menuNav,
                    .headerButtons {
                        display: none;
                    }
                }

                & .mainBody {
                    flex-direction: column;
                    align-items: center;
                    gap: 96px;
                    padding-left: 0;

                    & .mainCard {
                        display: none;
                    }

                    & .mainDescription {
                        align-items: center;

                        & .mainDescriptionImg {
                            max-width: 350px;
                        }

                        & .mainDescriptionText {
                            text-align: center;
                        }

                        & .mainButtons {
                            display: flex;
                        }
                    }

                    & .scrollAlert {
                        position: relative;
                        bottom: auto;
                        top: auto;
                        left: auto;
                    }
                }
            }
        }

        & .rulesSection {
            & .rulesTittle {
                text-align: center;
                max-width: 650px;
            }

            & .rulesTexts {
                max-width: 900px;
                padding: 0 48px;
            }
        }
    }
}

@media screen and (width <=440px) {
    .container {
        gap: 48px;

        & .mainContainer {
            height: auto;

            & .mainContent {
                padding-bottom: 96px;

                & .mainHeader {
                    padding: 48px;

                    & .menuBurguer {
                        display: block;
                    }

                    & .menuNav,
                    .headerButtons {
                        display: none;
                    }
                }

                & .mainBody {
                    padding-left: 0;
                    flex-direction: column;
                    align-items: center;
                    gap: 48px;

                    & .mainCard {
                        display: none;
                    }

                    & .mainDescription {
                        padding-top: 48px;
                        align-items: center;

                        & .mainDescriptionImg {
                            max-width: 300px;
                        }

                        & .mainDescriptionText {
                            text-align: center;
                            max-width: 300px;
                        }

                        & .mainButtons {
                            display: flex;

                            & .mainButton {
                                max-width: 300px;
                            }
                        }
                    }

                    & .scrollAlert {
                        position: relative;
                        top: auto;
                        bottom: auto;
                        left: auto;
                    }
                }

                & .sideMenu {
                    width: 100%;

                    & .sideMenuHeader,
                    .sideMenuNav {
                        width: 80%;
                    }
                }
            }

            & .rulesSection {
                gap: 24px;

                & .rulesTittle {
                    text-align: center;
                    max-width: 350px;
                }

                & .rulesTexts {
                    max-width: 350px;
                }
            }
        }
    }
}

@media screen and (width <=320px) {
    .container {
        gap: 24px;

        & .header {
            position: relative;
        }

        & .mainContainer {
            & .mainContent {
                & .sideMenu {
                    gap: 32px;

                    & .sideMenuImg {
                        width: 100px;
                    }
                }
            }
        }
    }
}