.section {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(270deg, var(--darkBlue) 13%, var(--blue) 100%);

    & .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        width: 300px;

        & .passwordConditionsContainer {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & .passwordRequirement {
                display: flex;
                gap: 16px;
            }

            & .passwordValidationIcon {
                width: 14px;
            }

            & .passwordInvalid,
            .passwordValid {
                font-size: 14px;
                height: 14px;
            }

            & .passwordInvalid {
                color: var(--gray);
            }

            & .passwordValid {
                color: var(--green);
            }
        }

        & .confirmPasswordRequirement {
            display: flex;
            gap: 16px;

            & .confirmPasswordValidationIcon {
                width: 14px;
            }

            & .confirmPasswordInvalid {
                color: var(--red);
                font-size: 14px;
                height: 14px;
            }
        }

        & .passwordContainer {
            display: flex;
            gap: 8px;
            width: 100%;

            & .eyePasswordIcon {
                cursor: pointer;
            }
        }


        & .buttonsDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 16px;

            & .backToLogin {
                all: unset;
                text-align: center;
                color: var(--darkBlue);
                transition: all 0.2s ease-in;
                cursor: pointer;
                width: fit-content;

                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }
}

@media screen and (width < 440px) {
    .section {
        & .form {
            width: 250px;
        }
    }
}