.box {
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 72px 48px;
    position: relative;
}

.boxHeader {
    align-items: center;
    background-color: var(--darkBlue);
    border-radius: 8px;
    color: var(--white);
    display: flex;
    font-size: 18px;
    height: 50px;
    justify-content: center;
    left: 50%;
    width: 300px;
    position: absolute;
    top: -24px;
    transform: translateX(-50%);
}

@media screen and (width < 390px) {
    .box {
        padding: 36px 24px;
    }

    .boxHeader {
        max-width: 250px;
    }
}