* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galey', sans-serif;
}

@font-face {
    font-family: 'Fredoka';
    src: url('../../../public/fonts/FredokaOne.ttf');
}

@font-face {
    font-family: 'Galey';
    src: url('../../../public/fonts/Galey.ttf');
}

:root {
    --yellow: #FFBF3F;
    --lightBlue: #0086DD;
    --darkBlue: #004877;
    --blue: #1477B8;
    --transparentBlue: rgba(12, 100, 158, 0.4);
    --white: #F8F8F8;
    --black: #303030;
    --gray: #A4A4A4;
}

.pageContainer {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

