* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galey', sans-serif;
    scroll-behavior: smooth;
}

body {
    transform: scale(1);
}

@font-face {
    font-family: 'Fredoka';
    src: url('../../../public/fonts/FredokaOne.ttf');
}

@font-face {
    font-family: 'Galey';
    src: url('../../../public/fonts/Galey.ttf');
}

:root {
    --lightBlue: #0086DD;
    --darkBlue: #004877;
    --transparentBlue: rgba(12, 100, 158, 0.4);
    --red: #CB0202;
    
    
    --black: #303030;
    --gray: #A4A4A4;
    --green: #077D6A;
    --blue: #07617D;
    --yellow: #F9A828;
    --white: #ECECEB;
    --background: #2E383F;
}